:root{
    --primarycolor: #351A41;
    --secondcolor: #A6567B;
    --thirdcolor: #1B3C59;
    --white: #fff;
    --black: #000;
}

body{
    background-color: var(--black) !important;
}

nav{
    background-color:  var(--primarycolor) !important;
}